:root {
    --white: #FFFFFF;
    --blue-primary: #001F99;
    --blue-secondary: #0D40FF;
    --grey-tertiary: #808080;
    --gray-primary: #BFBFBF;
    --grey-secondary: #E6E6E6;
    --success: #00754C;
    --danger: #D60020;
}

:root {
    --font-family: "HSE sans", Roboto, Helvetica, sans-serif;
}